body{
    background-color: lightgoldenrodyellow;
    font-family: 'Farro', sans-serif;
}

header{
    text-align: center;
}

.green{
    color: green;
}

p{
    text-align: center;
}

#aaron{
    border: 5px ridge yellow;
    width: 30%;
    height: auto;
    background-color: green;
    padding: 10px;
}